set timeout=10

loadfont unicode
insmod all_video
insmod gfxterm
insmod png
set gfxmode=auto
set gfxpayload=keep
terminal_output gfxterm

set menu_color_normal=white/black
set menu_color_highlight=black/light-gray
background_image -m stretch /boot/grub/grub_background.png

grub_platform

if [ "$grub_platform" = "efi" ]; then
	menuentry "Automatic StreamScope Upgrade or Install (UEFI)" {
		set gfxpayload=keep
		linux	/casper/vmlinuz autoinstall noplymouth nosplash ds=nocloud\;s=/cdrom/nocloud/uefi-auto-upgrade/ ---
		initrd	/casper/initrd
	}
	menuentry "Automatic StreamScope Clean Install (UEFI)" {
		set gfxpayload=keep
		linux	/casper/vmlinuz autoinstall noplymouth nosplash ds=nocloud\;s=/cdrom/nocloud/uefi-auto-clean/ ---
		initrd	/casper/initrd
	}
	menuentry "Manual StreamScope Upgrade or Install (UEFI)" {
		set gfxpayload=keep
		linux	/casper/vmlinuz autoinstall noplymouth nosplash ds=nocloud\;s=/cdrom/nocloud/uefi-manual-upgrade/ ---
		initrd	/casper/initrd
	}
	menuentry "Manual StreamScope Clean Install (UEFI)" {
		set gfxpayload=keep
		linux	/casper/vmlinuz autoinstall noplymouth nosplash ds=nocloud\;s=/cdrom/nocloud/uefi-manual-clean/ ---
		initrd	/casper/initrd
	}
else
	menuentry "Automatic StreamScope Upgrade or Install (Legacy BIOS)" {
		set gfxpayload=keep
		linux	/casper/vmlinuz boot=casper autoinstall noplymouth nosplash ds=nocloud\;s=/cdrom/nocloud/legacy-auto-upgrade/ ---
		initrd	/casper/initrd
	}
	menuentry "Automatic StreamScope Clean Install (UEFI) (Legacy BIOS)" {
		set gfxpayload=keep
		linux	/casper/vmlinuz boot=casper autoinstall noplymouth nosplash ds=nocloud\;s=/cdrom/nocloud/legacy-auto-clean/ ---
		initrd	/casper/initrd
	}
	menuentry "Manual StreamScope Upgrade or Install (Legacy BIOS)" {
		set gfxpayload=keep
		linux	/casper/vmlinuz boot=casper autoinstall noplymouth nosplash ds=nocloud\;s=/cdrom/nocloud/legacy-manual-upgrade/ ---
		initrd	/casper/initrd
	}
	menuentry "Manual StreamScope Clean Install (UEFI) (Legacy BIOS)" {
		set gfxpayload=keep
		linux	/casper/vmlinuz boot=casper autoinstall noplymouth nosplash ds=nocloud\;s=/cdrom/nocloud/legacy-manual-clean/ ---
		initrd	/casper/initrd
	}
fi
